.swiper-pagination-bullet {
	background: #fff !important;
}

.swiper-pagination-bullet-active {
	background: #437DBF !important;
}

.containerCardProject {
    margin: 0 auto;
}

.customCardProject {
    background: #1D1D1D !important;
    height: 56vh !important;
    width: 80vw;
}

.custom-img-project {
    height: 25vh;
}

.custom-Card-project {
    font-size: 1.5em !important;
    color: #437DBF;
}

.custom-Card-project-text {
    color: #fff;
    width: 72vw;
    height: 12.5vh;
    font-size: 16px;
}

.button-project {
    margin: 10px 0 0 60px;
    width: 45vw;
    height: 5vh;
    font-size: 1.1em;
    background: rgba(255, 255, 255, 0.1) !important;
    border: 2px solid #fff !important;
    border-radius: 10px;
}

.button-project:hover {
    background: #437DBF !important;
    color: #000 !important;
    border: 2px solid #000 !important;
}

@media (min-width: 768px) {
    #space-between-project-cards {
        margin: 50px 0;
    }

    .custom-img-project {
        height: 60vh;
        width: 42.5vw;
        border-radius: 10px;
    }

    .custom-project-title {
        margin-top: 60px;
        font-size: 2.4em;
        text-align: left;
    }

    .custom-Card-project-text {
        color: #fff;
        width: 41.5vw;
        height: 26vh;
        font-size: 1.6em;
    }

    .button-project {
        margin: 0 auto;
        width: 15vw;
        height: 7vh;
        font-size: 1.4em;
        background: rgba(255, 255, 255, 0.1) !important;
        border: 2px solid #fff !important;
        border-radius: 10px;
    }
    
    .button-project:hover {
        background: #437DBF !important;
        color: #000 !important;
        border: 2px solid #000 !important;
    }
}