.bg-projectInfo {
    margin: 50px 0;
    background-image: url(../../assets/bg2.jpg);
    background-size: cover;
    width: 100%;
    height: 22.5vh;
    position: relative;
}

.container-projectInfo {
    text-align: center;
}

.container-projectInfo h2 {
    margin-top: 20px;
    color: #437DBF !important;
    padding-top: 0.5em;
    color: #fff;
}

.text-projectInfo {
    width: 75vw;
    margin: 0 auto;
    margin-top: 0.5em;
    margin-bottom: 1.3em;
}

.button-projectInfo {
    background: rgba(255, 255, 255, 0.2) !important;
    border: 2px solid #fff !important;
    font-size: 1.1em !important;
    width: 55vw;
    height: 5vh;
}

.button-projectInfo:hover {
    background: #437DBF !important;
    color: #000 !important;
    border: 2px solid #000 !important;
}

@media (min-width: 768px) {
    .bg-projectInfo {
        margin: 50px 0;
        background-image: url(../../assets/bg2.jpg);
        background-size: cover;
        width: 100%;
        min-height: 28vh;
        position: relative;
    }
    
    .container-projectInfo {
        text-align: center;
    }
    
    .container-projectInfo h2 {
        color: #437DBF !important;
        padding-top: 20px;
        color: #fff;
    }
    
    .text-projectInfo {
        width: 30vw;
        margin: 0 auto;
        margin-top: 8px;
        margin-bottom: 20px;
    }
    
    .button-projectInfo {
        background: rgba(255, 255, 255, 0.2) !important;
        border: 2px solid #fff !important;
        font-size: 1.1em !important;
        width: 250px;
        height: 40px;
    }

    .button-projectInfo:hover {
        background: #437DBF !important;
        color: #000 !important;
        border: 2px solid #000 !important;
    }
}