nav {
    background: #141414;
}

#logo {
    width: 120px;
    padding-left: 10px;
}

#button-hamburguer {
    font-size: 1.6rem;
    margin-right: 15px;
}

.navbar-style-link {
    color: #fff;
    font-size: 1.4em;
    margin-bottom: 2px;
    padding-left: 25px;
}

.navbar-style-link:hover {
    color: #437DBF;
}

#ativa {
    padding-top: 5px;
    color: #437DBF;
}